.auth-container {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.auth-form {
  margin: 20px;
}

.card {
  display: inline-block;
  width: 290px;
  transition: all ease 0.5s;
  margin: 13px;
  font-size: 15px;
  padding: 10px;
  border: 1px solid aquamarine;
  border-radius: 11px;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}
.card:hover {
  transform: translateY(-6px);
  cursor: pointer;
}
